* {
    margin: 0;
    padding: 0;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

  body {
    background: #000000;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .home__container {
    
    row-gap: 4.5rem;
    padding-top: 2rem;
  }
  
  .home__data {
    text-align: center;
  }
  
  .home__greeting,
  .home__education {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
  }
  .home__name{
    color: rgb(248, 248, 248);
  

  }
  .home__greeting {

    color:#A395E9;
    margin-bottom: .25rem;
  }
  
  .home__education {
    color:#A395E9;
    margin-bottom: 2.5rem;
  }
  
  ul {
    list-style: none;   
  }
  
  ul li {
    width: 50px;
    height: 50px;
    position: relative;
    background: #e59500;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 3px;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  ul li .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
  }
  
  ul li.facebook{
    background: #3b5998;
  }

  ul li.snapchat{
    background:   #FFFC00;
  }
 
  ul li.Github{
    background: #171515;
  }

  ul li.linkedin{
    background: #3b5998;
  }
  
  ul li.twitter{
    background: #00aced;
  }
  
  ul li.instagram{
    background: #fb3958;
  }
  
  ul li.google{
    background: #dd4b39;
  }
  
  ul li.whatsapp{
    background: #4dc247;
  }
  
  ul li.facebook div.slider{
    background: #627aac;
  }
  ul li.snapchat div.slider{
    background: #c6c449;
  }
  ul li.linkedin div.slider{
    background: #627aac;
  }
  
  ul li.twitter div.slider{
    background: #7fd5f6;
  }
  
  ul li.instagram div.slider{
    background: #dc5e73;
  }
  
  ul li.google div.slider{
    background: #eea59c;
  }

  ul li.Github div.slider{
    background: #302e2e;
  }
  
  
  ul li.whatsapp div.slider{
    background: #82d47e;
  }
  
  .slider {
    content: "";
    position: absolute;
    top: 0;
    left: 51px;
    width: 0px;
    height: 50px;
    background: #eebb5c;
    border-radius: 3px;
    transition: all 0.5s 0.3s ease;
  }
  
  .slider p {
    font-family: arial;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  ul li:hover .slider {
    width: 180px;
    transition: all 0.5s ease;
  }
  
  ul li:hover .slider p {
    opacity: 1;
    transition: all 1s 0.2s ease;
  }
  
  
  
  
  
  
  
  /* youtube link */
  .youtube{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #bb0000;
    border-radius: 5px;
  }
  
  .youtube a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .footer{
    background-color: var(--first-color);
  }
  
  
  .footer__copy{
    position: absolute; 
    bottom: 5px;
    left: 20;
    color: white;
    text-align: center;
    font-size: var(--smaller-font-size);
  }
  